*.ipynb linguist-generated=true
*.m linguist-language=M
*.pq linguist-language=M
P1-nyc-taxi/reference/*.html linguist-documentation=true
job-search-fabric/reference/*.html linguist-documentation=true
*.dacpac binary
